.app{
  width: 100vw;
  height: 100vh;
 
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 90vh;
  gap: 20px;
  flex-wrap: wrap;
 
  border: 1px solid rgba(0, 0, 0, 0.306);
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.addtodo{
  position: relative;
  left: 0.6rem;
  width: 90%;
  display: flex;
  flex-wrap: wrap;

}
.item{
  position: relative;
  width: 90%;
  padding: 1rem;
  left:1.2rem;
  top: 1rem;
}